 
.container{
 background-color:#d61313;
 display: flex; 
 height:100vh;
 overflow: hidden;
 flex-direction: column;
}
.note{
  width: 30%;
  margin-top:70px;
  margin-left:510px;
  text-align: center;
  height: 170px;
  justify-content: center;
  background-color: rgb(221, 234, 234);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   border-radius:13px;
}
.textprop{
  width: 30%;
  margin-top: 40px;
  margin-left:510px;
  text-align: center;
  height: 170px;
  justify-content: center;
  background-color: rgb(190, 223, 223);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   border-radius:13px;
}
*{
  margin: 0;
  padding: 0;
}
.item{
  margin-top:13px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 13px;
}
 